In [5]:
def sag_hallo():
    print("Moin Moin")

sag_hallo()

Moin Moin

In [2]:
77 + 88

165

In [6]:
sag_hallo()

Moin Moin

In [ ]:
a += 50 # Test

In [12]:
print(a)

250

In [13]:
a

250

In [14]:
a # Test

250

In [16]:
import pandas as pd

In [19]:
df = pd.read_csv("bookstore.csv")

In [22]:
df.tail(5)

,Title,Author,Publication Year,List Price,Sale Price,Condition
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df.shape

(30, 6)

In [70]:
df.columns

Index(['Title', 'Author', 'Publication Year', 'List Price', 'Sale Price',
       'Condition', 'gelesen', 'doppelter Preis'],
      dtype='object')

In [26]:
df.index

RangeIndex(start=0, stop=30, step=1)

In [27]:
df

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good
5,Buddenbrooks,"Mann, Thomas",2001,7.99,1.99,very good
6,The Physician,"Gordon, Noah",2003,25.95,1.29,like new
7,The Alchemist,"Coelho, Paulo",1999,7.50,1.29,like new
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",2006,7.99,2.49,very good
9,Pope Joan,"Cross, Donna W.",2003,24.95,0.99,like new
10,Inkheart,"Funke, Cornelia",2005,9.99,0.99,like new
11,Outlander,"Gabaldon, Diana",1987,6.99,1.29,very good
12,The House of the Spirits,"Allende, Isabel",2003,7.99,1.49,very good
13,The Reader,"Schlink, Bernhard",1996,6.99,1.29,very good
14,Faust,"Goethe, Johann Wolfgang von",2005,7.50,2.49,very good
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1998,5.99,1.29,very good
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

In [28]:
df.head(5)

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good

In [31]:
df.loc[0]

Title               The Lord of the Rings
Author                    Tolkien, J.R.R.
Publication Year                     1992
List Price                           7.99
Sale Price                           2.69
Condition                        like new
Name: 0, dtype: object

In [71]:
df.loc[0:3]

,Title,Author,Publication Year,List Price,Sale Price,Condition,gelesen,doppelter Preis
0,Kira Rules,"Tolkien, J.R.R.",1992,7.99,2.69,like new,False,15.98
1,The Bible,International Bible Society,2003,7.50,2.49,like new,False,15.00
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good,False,39.90
3,Perfume: The Story of a Murderer,"Süskind, Patrick",1500,19.95,1.29,very good,False,39.90

In [33]:
df.loc[0:10:2]

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good
6,The Physician,"Gordon, Noah",2003,25.95,1.29,like new
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",2006,7.99,2.49,very good
10,Inkheart,"Funke, Cornelia",2005,9.99,0.99,like new

In [38]:
df.loc[3:8, "Title"]

3         Perfume: The Story of a Murderer
4                        The Little Prince
5                             Buddenbrooks
6                            The Physician
7                            The Alchemist
8    Harry Potter and the Sorcerer’s Stone
Name: Title, dtype: object

In [72]:
df.loc[:, "Title"]

0                                    Kira Rules
1                                     The Bible
2                      The Pillars of the Earth
3              Perfume: The Story of a Murderer
4                             The Little Prince
5                                  Buddenbrooks
6                                 The Physician
7                                 The Alchemist
8         Harry Potter and the Sorcerer’s Stone
9                                     Pope Joan
10                                     Inkheart
11                                    Outlander
12                     The House of the Spirits
13                                   The Reader
14                                        Faust
15                       The Shadow of the Wind
16                          Pride and Prejudice
17                         The Name of the Rose
18                              Angels & Demons
19                                  Effi Briest
20    Harry Potter and the Order of the Phoenix
21                           The Magic Mountain
22                           Gone with the Wind
23                                   Siddhartha
24                      The Discovery of Heaven
25                        The Neverending Story
26                              The Hidden Word
27                               Angela’s Ashes
28                       Narcissus and Goldmund
29                          The Mists of Avalon
Name: Title, dtype: object

In [44]:
df.loc[3:8, ["Title", "Author"]]

                                   Title                     Author
3       Perfume: The Story of a Murderer           Süskind, Patrick
4                      The Little Prince  Saint-Exupéry, Antoine de
5                           Buddenbrooks               Mann, Thomas
6                          The Physician               Gordon, Noah
7                          The Alchemist              Coelho, Paulo
8  Harry Potter and the Sorcerer’s Stone              Rowling, J.K.

In [73]:
df.iloc[0:4, [0,2,4]]

                              Title  Publication Year  Sale Price
0                        Kira Rules              1992        2.69
1                         The Bible              2003        2.49
2          The Pillars of the Earth              2002        1.49
3  Perfume: The Story of a Murderer              1500        1.29

In [52]:
df.loc[0, "Title"] = "Kira Rules"

In [54]:
df.loc[3:15, "Publication Year"] = 1500

In [74]:
df.loc[:, "gelesen"] = False
df

,Title,Author,Publication Year,List Price,Sale Price,Condition,gelesen,doppelter Preis
0,Kira Rules,"Tolkien, J.R.R.",1992,7.99,2.69,like new,False,15.98
1,The Bible,International Bible Society,2003,7.50,2.49,like new,False,15.00
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good,False,39.90
3,Perfume: The Story of a Murderer,"Süskind, Patrick",1500,19.95,1.29,very good,False,39.90
4,The Little Prince,"Saint-Exupéry, Antoine de",1500,24.95,2.59,good,False,49.90
5,Buddenbrooks,"Mann, Thomas",1500,7.99,1.99,very good,False,15.98
6,The Physician,"Gordon, Noah",1500,25.95,1.29,like new,False,51.90
7,The Alchemist,"Coelho, Paulo",1500,7.50,1.29,like new,False,15.00
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",1500,7.99,2.49,very good,False,15.98
9,Pope Joan,"Cross, Donna W.",1500,24.95,0.99,like new,False,49.90
10,Inkheart,"Funke, Cornelia",1500,9.99,0.99,like new,False,19.98
11,Outlander,"Gabaldon, Diana",1500,6.99,1.29,very good,False,13.98
12,The House of the Spirits,"Allende, Isabel",1500,7.99,1.49,very good,False,15.98
13,The Reader,"Schlink, Bernhard",1500,6.99,1.29,very good,False,13.98
14,Faust,"Goethe, Johann Wolfgang von",1500,7.50,2.49,very good,False,15.00
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1500,5.99,1.29,very good,False,11.98
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new,False,13.98
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good,False,15.98
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new,False,11.90
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good,False,39.90
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good,False,15.98
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good,False,13.98
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new,False,13.00
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good,False,15.98
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good,False,15.98
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good,False,53.90
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new,False,13.98
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good,False,49.90
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new,False,13.98
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good,False,11.98

In [65]:
df

,Title,Author,Publication Year,List Price,Sale Price,Condition,gelesen
0,Kira Rules,"Tolkien, J.R.R.",1992,7.99,2.69,like new,False
1,The Bible,International Bible Society,2003,7.50,2.49,like new,False
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good,False
3,Perfume: The Story of a Murderer,"Süskind, Patrick",1500,19.95,1.29,very good,False
4,The Little Prince,"Saint-Exupéry, Antoine de",1500,24.95,2.59,good,False
5,Buddenbrooks,"Mann, Thomas",1500,7.99,1.99,very good,False
6,The Physician,"Gordon, Noah",1500,25.95,1.29,like new,False
7,The Alchemist,"Coelho, Paulo",1500,7.50,1.29,like new,False
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",1500,7.99,2.49,very good,False
9,Pope Joan,"Cross, Donna W.",1500,24.95,0.99,like new,False
10,Inkheart,"Funke, Cornelia",1500,9.99,0.99,like new,False
11,Outlander,"Gabaldon, Diana",1500,6.99,1.29,very good,False
12,The House of the Spirits,"Allende, Isabel",1500,7.99,1.49,very good,False
13,The Reader,"Schlink, Bernhard",1500,6.99,1.29,very good,False
14,Faust,"Goethe, Johann Wolfgang von",1500,7.50,2.49,very good,False
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1500,5.99,1.29,very good,False
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new,False
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good,False
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new,False
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good,False
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good,False
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good,False
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new,False
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good,False
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good,False
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good,False
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new,False
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good,False
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new,False
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good,False

In [67]:
df.loc[:, "doppelter Preis"] = df.loc[:, "List Price"] * 2

In [68]:
df

,Title,Author,Publication Year,List Price,Sale Price,Condition,gelesen,doppelter Preis
0,Kira Rules,"Tolkien, J.R.R.",1992,7.99,2.69,like new,False,15.98
1,The Bible,International Bible Society,2003,7.50,2.49,like new,False,15.00
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good,False,39.90
3,Perfume: The Story of a Murderer,"Süskind, Patrick",1500,19.95,1.29,very good,False,39.90
4,The Little Prince,"Saint-Exupéry, Antoine de",1500,24.95,2.59,good,False,49.90
5,Buddenbrooks,"Mann, Thomas",1500,7.99,1.99,very good,False,15.98
6,The Physician,"Gordon, Noah",1500,25.95,1.29,like new,False,51.90
7,The Alchemist,"Coelho, Paulo",1500,7.50,1.29,like new,False,15.00
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",1500,7.99,2.49,very good,False,15.98
9,Pope Joan,"Cross, Donna W.",1500,24.95,0.99,like new,False,49.90
10,Inkheart,"Funke, Cornelia",1500,9.99,0.99,like new,False,19.98
11,Outlander,"Gabaldon, Diana",1500,6.99,1.29,very good,False,13.98
12,The House of the Spirits,"Allende, Isabel",1500,7.99,1.49,very good,False,15.98
13,The Reader,"Schlink, Bernhard",1500,6.99,1.29,very good,False,13.98
14,Faust,"Goethe, Johann Wolfgang von",1500,7.50,2.49,very good,False,15.00
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1500,5.99,1.29,very good,False,11.98
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new,False,13.98
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good,False,15.98
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new,False,11.90
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good,False,39.90
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good,False,15.98
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good,False,13.98
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new,False,13.00
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good,False,15.98
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good,False,15.98
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good,False,53.90
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new,False,13.98
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good,False,49.90
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new,False,13.98
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good,False,11.98